{% load static %}
<!-- FAQ Section: In Grid -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-32 xl:max-w-7xl">
        <!-- Heading -->
        <div class="text-center">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-blue-600 dark:text-blue-500">
                We Answer
            </div>
            <h2 class="text-4xl font-black text-black dark:text-white">
                Frequently Asked Questions
            </h2>
        </div>
        <!-- END Heading -->

        <!-- FAQ -->
        <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
            <div class="space-y-4">
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">
                        What areas in South Florida do you serve?
                    </h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        We proudly serve a wide range of locations in South Florida, including but not limited to Miami, Fort Lauderdale, West Palm Beach, and surrounding areas.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">
                        What types of cleaning services do you offer?
                    </h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        We offer a comprehensive range of cleaning services, including residential cleaning, commercial cleaning, deep cleaning, move-in/move-out cleaning, and post-construction cleaning.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">How can I request a cleaning service?</h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        You can easily request our cleaning services by submitting a quote through our website, calling our customer service line, or sending us an email.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">Is your cleaning staff trained and insured?</h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        Yes, our cleaning staff is highly trained, experienced, and fully insured. We prioritize the safety and security of both our clients and our team members.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">Do I need to provide cleaning supplies and equipment?</h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        No, you don't have to worry about providing cleaning supplies and equipment. We bring our own high-quality cleaning products and tools to ensure an efficient and thorough cleaning process.
                    </p>
                </div>
            </div>
            <div class="space-y-4">
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">What makes your cleaning services stand out from others?</h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        Our commitment to excellence, attention to detail, and personalized approach set us apart. We tailor our services to meet the specific needs of each client, and our staff is dedicated to delivering exceptional results.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">Can I use PayPal to pay you?</h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        Etiam egestas fringilla enim, id convallis lectus laoreet at.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">Can I schedule a one-time cleaning service, or do you offer regular cleaning plans?</h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        Absolutely! We offer both one-time cleaning services and recurring cleaning plans. Whether you need a one-time deep clean or regular maintenance, we have flexible options to suit your needs.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">Are your cleaning services available on weekends and holidays?</h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        Yes, we offer flexible scheduling, including weekends and holidays, to accommodate your needs. Please note that there may be additional charges for services scheduled on holidays.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">
                        What payment methods do you accept?
                    </h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        We accept various payment methods, including credit cards, debit cards, and electronic funds transfer. Payment is typically due after the cleaning service is completed.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">What if I need to reschedule or cancel a cleaning appointment?</h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        We understand that schedules can change. If you need to reschedule or cancel an appointment, please notify us at least 24 hours in advance to avoid any cancellation fees.
                    </p>
                </div>
            </div>
            <div class="space-y-4">
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">
                        Are your cleaning products environmentally friendly?
                    </h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        Yes, we are committed to using environmentally friendly and non-toxic cleaning products whenever possible. We prioritize the health of our clients and the environment in our choice of cleaning supplies.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">Can I trust your cleaning staff in my home or office?</h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        Absolutely. Our cleaning staff undergoes thorough background checks, and we only hire trustworthy and professional individuals. We understand the importance of security and take all necessary measures to ensure your peace of mind.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">How do you handle special requests or specific cleaning preferences?</h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        We welcome special requests and are happy to accommodate specific cleaning preferences. Simply communicate your requirements with our customer service team, and we will do our best to tailor our services to meet your needs.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">
                        Do I need to be present during the cleaning service?
                    </h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        It's entirely up to you! Many of our clients provide us with access to their homes or offices, and we ensure the security of your property during the cleaning process. If you prefer to be present, we are more than happy to accommodate your request.
                    </p>
                </div>
                <div class="rounded-lg bg-gray-100 p-5 hover:bg-gray-200/75 dark:bg-gray-800 dark:hover:bg-gray-700/50">
                    <h4 class="mb-2 font-semibold">How long will a typical cleaning session take?</h4>
                    <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                        The duration of a cleaning session depends on factors such as the size of the space, the level of cleaning required, and any specific requests. Our team will provide you with an estimated time frame when scheduling the service.
                    </p>
                </div>
            </div>
        </div>
        <!-- END FAQ -->
    </div>
</div>
<!-- END FAQ Section: In Grid -->