{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="min-w-full overflow-x-auto rounded border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800">
    <!-- Filter And Search -->
    <div class="grow border-t border-gray-200 px-5 py-4 dark:border-gray-700">
        <div class="text-center dark:text-gray-100">
            <div class="hidden sm:flex sm:items-center sm:justify-between">
                <div></div>
                <form id="filters_form" class="inline-flex gap-2 my-2">
                    <div class="space-y-1">
                        <button type="submit"
                            class="inline-flex items-center justify-center space-x-2 rounded-lg border border-blue-700 bg-blue-700 px-4 py-2 font-semibold leading-6 text-white hover:border-blue-600 hover:bg-blue-600 hover:text-white focus:ring focus:ring-blue-400 focus:ring-opacity-50 active:border-blue-700 active:bg-blue-700 dark:focus:ring-blue-400 dark:focus:ring-opacity-90">
                            Filter
                        </button>
                    </div>
                    <!-- Select Box -->
                    <div class="space-y-1">
                        <label for="service_id" class="font-medium">Service</label>
                        <select id="service_id" name="service_id"
                            class="block w-full rounded-lg border border-gray-200 px-3 py-2 leading-6 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:focus:border-blue-500">
                            <option></option>
                            {% for service in services %}
                            <option value="{{ service.id }}">{{ service.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- END Select Box -->
                    <!-- Select Box -->
                    <div class="space-y-1">
                        <label for="location_id" class="font-medium">Location</label>
                        <select id="location_id" name="location_id"
                            class="block w-full rounded-lg border border-gray-200 px-3 py-2 leading-6 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:focus:border-blue-500">
                            <option></option>
                            {% for location in locations %}
                            <option value="{{ location.id }}">{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- END Select Box -->
                    <!-- Text Input -->
                    <div class="space-y-1">
                        <label for="phone_number" class="font-medium">Phone Search</label>
                        <input type="tel" id="phone_number" name="phone_number" placeholder="Enter phone #"
                            class="block w-full rounded-lg border border-gray-200 px-3 py-2 leading-6 placeholder-gray-500 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-blue-500" />
                    </div>
                    <!-- END Text Input -->
                    <div class="space-y-1">
                        <label for="date_filter" class="font-medium">Date</label>
                        <input type="text" id="date_filter" name="date_filter" placeholder="Pick date"
                            class="block w-full rounded-lg border border-gray-200 px-3 py-2 leading-6 placeholder-gray-500 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-blue-500" />
                    </div>
                    </nav>
            </div>
        </div>
        <!-- END Filter And Search -->
        <!-- Table -->
        <table class="min-w-full whitespace-nowrap align-middle text-sm">
            <!-- Table Header -->
            <thead>
                <tr>
                    <th
                        class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                        Photo
                    </th>
                    <th
                        class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                        Name
                    </th>
                    <th
                        class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                        Phone
                    </th>
                    <th
                        class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                        Service
                    </th>
                    <th
                        class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                        Photos
                    </th>
                </tr>
            </thead>
            <!-- END Table Header -->

            <!-- Table Body -->
            <tbody>
                {% for lead in leads %}
                <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
                    <td class="p-3 text-center">
                        <img src="https://cdn.tailkit.com/media/placeholders/avatar-QXevDflbl8A-160x160.jpg"
                            alt="User Avatar" class="inline-block h-10 w-10 rounded-full" />
                    </td>
                    <td class="p-3">
                        <p class="font-medium">{{ lead.first_name }} {{ lead.last_name }}</p>
                        <p class="text-gray-500 dark:text-gray-400">{{ lead.location.name }}</p>
                    </td>
                    <td class="p-3 text-gray-500 dark:text-gray-400">
                        {{ lead.phone_number }}
                    </td>
                    <td class="p-3">
                        <div
                            class="inline-flex rounded-full border border-transparent bg-blue-100 px-2 py-1 text-xs font-semibold leading-4 text-blue-900 dark:border-blue-900 dark:border-opacity-75 dark:bg-blue-700 dark:bg-opacity-10 dark:font-medium dark:text-blue-200">
                            {{ lead.service.name }}
                        </div>
                    </td>
                    <td class="p-3 text-center">
                        <button data-lead-id="{{ lead.id }}" data-lead-photos="{{ lead.images.count }}" type="button"
                            class="inline-flex items-center justify-center space-x-2 rounded-lg border border-gray-200 bg-white px-2 py-1 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
                            View
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <!-- END Table Body -->
        </table>
        <!-- END Table -->
        <!-- Card Footer -->
        <div class="grow border-t border-gray-200 px-5 py-4 dark:border-gray-700">
            <div class="text-center dark:text-gray-100">
                <div class="hidden sm:flex sm:items-center sm:justify-between">
                    <div>
                        Page <span class="font-semibold">{{ min_page }}</span> of
                        <span class="font-semibold">{{ max_pages }}</span>
                    </div>
                    <nav id="page_navigation" class="inline-flex">
                        <div data-chevron-value="left_chevron"
                            class="hover:cursor-pointer -mr-px inline-flex items-center justify-center space-x-2 rounded-l-lg border border-gray-200 bg-white px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
                            <svg data-chevron-value="left_chevron"
                                class="hi-mini hi-chevron-left -mx-1.5 inline-block h-5 w-5"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <a
                            class="hover:cursor-pointer -mr-px inline-flex items-center justify-center space-x-2 border border-gray-200 bg-gray-100 px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-700/75 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
                            {{ min_page }}
                        </a>
                        {% for page in num_pages %}
                        <a
                            class="hover:cursor-pointer -mr-px inline-flex items-center justify-center space-x-2 border border-gray-200 bg-white px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
                            {{ page }}
                        </a>
                        {% endfor %}
                        <div data-chevron-value="right_chevron"
                            class="hover:cursor-pointer inline-flex items-center justify-center space-x-2 rounded-r-lg border border-gray-200 bg-white px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
                            <svg data-chevron-value="right_chevron"
                                class="hi-mini hi-chevron-right -mx-1.5 inline-block h-5 w-5"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Images Slider -->
    <div id="imagesModalContainer" style="display: none;">
        <div class="flex items-center justify-center rounded-lg border-2 border-dashed border-gray-300 py-48 dark:border-gray-700">
        </div>
        <div tabindex="-1" role="dialog"
            class="fixed inset-0 z-90 overflow-y-auto overflow-x-hidden bg-gray-900 bg-opacity-75 p-4 backdrop-blur-sm lg:p-8">
            <div role="document" class="mx-auto flex w-full max-w-md flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                <div class="flex items-center justify-between bg-gray-50 px-5 py-4 dark:bg-gray-700/50">
                    <div class="flex items-center space-x-2 font-medium"></div>
                    <div class="-my-4">
                        <button id="closeModal" type="button"
                            class="inline-flex items-center justify-center space-x-2 rounded-lg border border-transparent px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-transparent dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
                            <svg class="hi-solid hi-x -mx-1 inline-block h-4 w-4" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div id="imagesSlider" class="grow p-5"></div>
                <div class="space-x-1 bg-gray-50 px-5 py-4 text-right dark:bg-gray-700/50">
                    <button id="sliderPrevious" type="button" class="inline-flex items-center justify-center space-x-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
                        Previous
                    </button>
                    <button id="sliderNext" type="button" class="inline-flex items-center justify-center space-x-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Images Slider -->

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'blog/leads.js' %}"></script>
    <script>
        flatpickr("#date_filter", {
            dateFormat: "Y-m-d",
            mode: "range"
        });
    </script>

    {{ max_pages|json_script:"max-pages" }}
    {{ photos_dict|json_script:"photos_dict" }}
    {{ bucket_url|json_script:"bucket_url" }}

    {% endblock %}