{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<!-- FAQ Section: To The Side -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div
        class="container mx-auto space-y-16 px-4 py-16 lg:flex lg:justify-between lg:space-x-8 lg:space-y-0 lg:px-8 lg:py-32 xl:max-w-7xl">
        <!-- Heading -->
        <div class="text-center lg:text-left">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-blue-600 dark:text-blue-500">
                Our Company Offers...
            </div>
            <h2 class="mb-4 text-4xl font-black text-black dark:text-white">Premium Cleaning Services</h2>
            <h3 class="text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300">
                Here are the
                <span class="text-blue-600 dark:text-blue-400">most common</span>
                services that are requested from us.
            </h3>
        </div>
        <!-- END Heading -->

        <!-- FAQ -->
        <div class="space-y-8 lg:w-3/5 lg:flex-none">
            <div>
                <h4 class="mb-2 font-semibold">Residential Cleaning</h4>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Our residential cleaning services are designed to provide a spotless sanctuary for you and your
                    family. From meticulous dusting and vacuuming to thorough kitchen and bathroom cleaning, we
                    understand the importance of a clean and comfortable living space. Let us transform your home into a
                    haven of freshness and hygiene, giving you more time to focus on the things that matter most.
                </p>
            </div>
            <div>
                <h4 class="mb-2 font-semibold">Commercial Cleaning</h4>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Create a pristine and welcoming workspace with our top-notch commercial cleaning services. Our
                    dedicated team is equipped to handle the unique cleaning needs of offices, retail spaces, and other
                    commercial establishments. From floor to ceiling, we ensure a clean and organized environment that
                    leaves a lasting impression on clients and employees alike. Elevate your business image with our
                    reliable and efficient commercial cleaning solutions.
                </p>
            </div>
            <div>
                <h4 class="mb-2 font-semibold">Deep Cleaning Services</h4>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Sometimes, a regular cleaning routine isn't enough. Our deep cleaning services go beyond the surface
                    to eliminate dirt, grime, and hidden allergens. Whether you're moving into a new home, preparing for
                    a special event, or just seeking a comprehensive refresh, our deep cleaning services promise a
                    thorough and transformative experience. Rediscover the true beauty and cleanliness of your space
                    with our meticulous deep cleaning solutions.
                </p>
            </div>
            <div>
                <h4 class="mb-2 font-semibold">Move-In/Move-Out Cleaning</h4>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Moving can be stressful, but cleaning doesn't have to be. Our move-in/move-out cleaning services
                    ensure a smooth transition by leaving your old or new space in immaculate condition. From sanitizing
                    surfaces to polishing fixtures, we take care of every detail, allowing you to focus on the
                    excitement of a new beginning. Trust us to make your move a cleaner and more enjoyable experience.
                </p>
            </div>
            <div>
                <h4 class="mb-2 font-semibold">Post-Construction Cleaning</h4>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Construction projects can leave behind a mess of dust and debris. Our post-construction cleaning
                    services are tailored to reveal the true beauty of your newly built or renovated space. Our
                    experienced team is equipped with the expertise and tools to handle the unique cleaning challenges
                    that come with construction. Let us turn your construction site into a pristine masterpiece with our
                    meticulous post-construction cleaning services.
                </p>
            </div>
            <div>
                <h4 class="mb-2 font-semibold">Eco-Friendly Cleaning</h4>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Embrace a green and sustainable approach to cleaning with our eco-friendly cleaning services. We
                    prioritize the use of environmentally friendly products that are safe for your home or office and
                    gentle on the planet. Experience the same level of cleanliness with the added benefit of knowing
                    that you're contributing to a healthier environment. Choose our eco-friendly cleaning services for a
                    conscientious and effective cleaning solution.
                </p>
            </div>
            <div>
                <h4 class="mb-2 font-semibold">Customized Cleaning Packages</h4>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    We understand that every space is unique, and so are its cleaning requirements. Our customized
                    cleaning packages allow you to choose the services that best suit your needs and budget. Whether you
                    require a one-time deep clean or a regular maintenance plan, we work with you to create a
                    personalized cleaning solution. Experience the flexibility and convenience of our customized
                    cleaning packages designed just for you.
                </p>
            </div>
        </div>
        <!-- END FAQ -->
    </div>
</div>
<!-- END FAQ Section: To The Side -->
{% endblock %}